.work {
  width: 250px;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.background {
  background-color: aquamarine;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
}